body{
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h2 {
    width: 700px;
}



h2,
article p,
footer {
    border: dotted 2px lightblue;

}

h2:hover,
article p:hover,
footer:hover {
    border: solid 2px black;
    background-color: aqua;
    color: yellow;
        cursor: move;

}
