html {
    box-sizing: border-box;
}

*,
*:before *:after {
    margin: 0 auto;
    padding: 0;
}


body {
    background-color: yellow;
    font-family: monospace;
    font-weight: 700;
    font-size: 12px;
}



nav button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

a:hover{
    color: black;
}

a {
    text-decoration: none;
    color: white;
}



.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #111;
}

.right {
    right: 0;
    background-color: red;
}

.centered {
    position: absolute;
    font-size: 4vw;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
