html {
    box-sizing: border-box;
}

*,
*:before *:after {
    margin: 0 auto;
    padding: 0;
}

.boobies{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.container .buttons {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

