@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

html {box-sizing: border-box;

}

*,
*:before,
*after{
    box-sizing: inherit;
}

body{
    margin-top: 30%;
    margin-right: 30%;
    margin-bottom: 50%;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/brain.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 100px;
    font-family: sans-serif;
    color: white;
}