.bar{
   
    height:30px;
    background-color:#1d73f0; 
    color:white;
}

.bar{ 
    height:25px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}


.first{
     background-color:#ece9d8;
     display:flex;
    justify-content: space-between;
    align-items:center;
    
}
nav {
    font-size:10px;
   
    color:black;
     text-align: left;
}

li {
    display:inline;
    padding: 1px 10px;
}


.second {
    background-color: #ece9d8;
    display:flex;
    justify-content: space-around;
    align-items:center;
}
    
    
    
.button {
    background-color:#ece9d8;
        display:flex;
    justify-content: space-between;
    align-items:center;
    
}

.link {
         display:flex;
    justify-content: space-around;
    align-items:center;
    
}

.linking {
    width:700px;
    height:40px;
    background-color: white;
    display:flex;
    justify-content: space-between;
     align-items:center;
}

.menu {
    position:relative;
    display:flex;
    justify-content:flex-end;
    color:#0000cc;
    font-size:20px;
}


.google {
    margin-left:350px;
    margin-top:40px;
   
}


.search {
    font-size:30px;
    color:#0000cc;
     text-align: center;
    padding: 10px 20px;
}

.searchbar{
    width:680px;
    height:40px;
    border: 4px solid #716f64;
    margin-left:370px;
    font-size:25px;
}


.Click {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
}


.group {
       display:flex;
    justify-content: space-between;
    align-items:center;
}
}