@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');

html {
    box-sizing: border-box;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    padding: 0;
    background-image: url(../IMG/Scanlines.gif);

}

h1 {
    text-align: center;
    font-size: 100px;

    font-family: eloquent-jf-pro,serif;
font-weight: 400;
font-style: normal;
    margin-left: 130px;
    color: peachpuff;
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

main {
    width: 1500px;
    height: 800px;
    display: flex;
    background-color: peachpuff;

    


}

.sky1 {
    display: flex;
    padding: 50px;
    flex-basis: 1;
    width: 480px;
    height: 810px;
}

.sky2 {
    display: flex;
    padding: 50px;
    flex-basis: 1;
    width: 480px;
    height: 810px;
}

.sky3 {
    display: flex;
    padding: 50px;
    flex-basis: 1;
    width: 480px;
    height: 810px;
}
a:hover{opacity: .5;}
a{text-decoration: none;
 font-family: bookmania, serif;
    font-weight: 700;
    font-style: italic; 
font-size: 20px;
text-align: center;
position: relative;
    left: 500px;

    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.jumpr {position: relative;
z-index: 10;
height: 150px;
left: -900px;
top:400px
}

.jumpr {
	-webkit-animation: bounce-top 1.5s 1s infinite both;
	        animation: bounce-top 1.5s 1s infinite both;
}
.jumpr2 {
	-webkit-animation: bounce-top 1.5s 1s infinite both;
	        animation: bounce-top 1.5s 1s infinite both;
}
.jumpr3 {
	-webkit-animation: bounce-top 1.5s 1s infinite both;
	        animation: bounce-top 1.5s 1s infinite both;
}
/* ----------------------------------------------
 Animations with help of animista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
.jumpr:hover {animation-play-state: paused;}
.jumpr2:hover {animation-play-state: paused;}
.jumpr3:hover {animation-play-state: paused;}

.jumpr2 {position: relative;
z-index: 10;
height: 150px;
left: -615px;
top:75px
}
.jumpr3 {position: relative;
z-index: 10;
height: 150px;
left: -1750px;
top:-5px;
}