@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Noto+Sans&display=swap');

html{
    height: 100%;
}

body {
    background-image: url("../img/desktop.png");
    background-color: #cccccc;
    font-family: 'Noto Sans';
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

a{
    color:#235789;
}

a:hover{
    color: #FFE21E;
}

h1 {
    font-family: 'Architects Daughter';
}

#ribbon{
    text-align: left;
    margin: 4.25% 2%;
    margin-bottom: 0%;
    padding: .5%;
    background-color:#BDBDBD;
}


/*header*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:#BDBDBD;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3%;
}
#apple {
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: baseline;
    padding-top: 5px;
    margin: 0 2%;
}
#header_r{
    margin: 0 2%;
}


/*splash page*/

#rocky_glitch{
    position: relative;
    left: 5%;
}
#rocky_glitch:hover {
    opacity: 0;
}
#rocky_glitch_2{
    position: relative;
    right: 10.25%;
    opacity: 0;
}
#rocky_glitch_2:hover{
    opacity: 1;
}


/*Riverside Home Page*/

#splash{
    text-align: center;
    background-color: #A2CFE8 ;
    margin: 0 2%;
    margin-bottom: 4.25%;
}
#home{
    background-color: white ;
    margin: -.5% 2%;
    margin-bottom: 4.25%;
}
#bar{
    background-color: white;
    padding-left: 2%;
}
#info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
}
#grade{
    margin-right: 2%;
}
#who{
    text-align: center;

}
#kids{
    text-align: center;
}
#banner{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    background-color:#A2CFE8;
}

#banner img{
    position: relative;
    left: 50%;
}

#who img {
   position: relative;
   top: -25px;
   right: 200px;
}

#resources img {
    position: relative;
    top: -150px;
    right: -30px;
}

/*finder window*/

#finder{
    background-color: #BDBDBD;
    margin: 10% 25%;
}
#finder-top{
    text-align: center;
    margin-top: -2%;
}
#finder-content {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
}
#finder-list {
    margin-left: 3%;
    margin-right: 2%;
    background-color: white;
    padding: 3%;
    padding-left: 1%;
    padding-top: 0%;
    padding-bottom: 14.5%;

}
#rocky {
    background-color: white;
    padding: 4%;
    margin-right: 3%;
    margin-bottom: 2%;
    padding-bottom: 3.5%;
    margin-left: 0%;
}


/*footer content*/

footer{
    background-color: #BDBDBD;  
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    margin-top: auto;
    padding: 0 3%;
    padding-top: .5%;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
    height: 2%;
}

.f_img{
    position: relative;
    top: -45px;
}
footer #trash {
    position: relative;
    left: 500px; 
    top: -140px; 
}

/*page 5 glitching*/

#background{
    background-image: url("../img/screenshot.png");
    background-size: 200%;
}

#banner2{
    background-image: url("../img/banner.png");
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    background-size: 100%;
}

/*page 5 glitching*/

.exp img{
    position: relative;
    animation-name: kiddies-move;
    animation-duration: .5s;
    right: -200px;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes kiddies-move {
    from {
        top: -1000px;
    }

    to {
        top: 0px;
    }
    
}

.exp2 img{
    position: relative;
    right: -700px;
    animation-name: kiddies-move2;
    animation-duration: .5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    text-align: center;
}

@keyframes kiddies-move2 {
    from {
        top: 0px;
    }

    to {
        bottom: 550px;
    }
    
}

/*page 6 glitching*/

#page6 img{
    transform: scale(1.5);
}

#help {
    font-size: 48px;
    color:#A2CFE8;
    text-align: center;
}

/*page 6 glitching*/

#page7{
    background-image: url("../img/error.png");
    background-size: 100%;
}

#errortop{
    text-align: center;
    margin-top: -2%;
}

#message{
    padding: 5%;
    text-align: center;
}

#errorcontent {
    padding: 10%;
    background-color: white;
}

#error{
    background-color: #BDBDBD;
    margin: 13% 25%;
    box-shadow: 1px 1px 1px 1px;
}